*{
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(236, 143, 77);
    --secondary-color: rgb(41, 41, 195); 
    --tertiary-color: rgb(76, 163, 218);
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: green;
    justify-content: flex-start;
}

header {
    /* removing display:flex adding in width: 100% */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    padding: 1%;
    color: aqua;
    background-color: var(--primary-color);
}

/* was having a issue with the font wasn't adjusting correctly.
I had a fixed value for the height and that was messing up the adjustments. */

h1 {
    margin: 0;
}

header h1 {
    display: flex;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    width: 33%;
   /* font is fixed, adjusted percentage */
    font-size: 300%;
    align-items: center;
    flex-shrink: 1;
    padding: 1%;
    margin: 0;
}

/* want to have nav on the same entry as the header */
nav {
    /* having all the flex items removed. Using display: inline to get elements where I need them */
    display: flex;
    /* issue was not using the justify-content: space-between correctly. Nav is now centered with name (h1). */
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    color: var(--secondary-color);
    min-height: 50px;
}

nav ul {
    display: flex;
} 

nav a {
    color: var(--secondary-color);
    padding: 14px 15px;
    text-decoration: underline 2px;
    text-align: end;
    font-weight: bold;
    font-size: x-large;
}

/* added drop shadow  */
h2 {
    font-size: 5vh;
    text-shadow: 3px 3px 2px darkgoldenrod;
}

/* no further changes at this time */
.subtitle {
    font-family: cursive;
    color: rgb(230, 197, 16);
    background-color: lightgoldenrodyellow;
    font-size: 4vh;
    text-align: right;
    padding-right: 10vh;
    padding: 15vh;
    background-image: url("../images/mountain-2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about_me, .work, .contact_me {
    display: flex;
    background-color: var(--tertiary-color);
    padding: 1%;
}

h3 {
    display: flex;
    padding: 15px 10px 15px 5px;
    width: 15%;
    min-width: 15%;
    border-right: 5px solid var(--secondary-color);
    align-items:center;
    font-size: xx-large;
}

.about_me p, .work p, .contact_me a {
    padding: 10px;
    /* display: block; */
    /* display: flex; */
    text-align: left;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    width: 80%;

    /* justify-content: space-evenly; */
    /* width: 80%; */
    /* display: inline-flex; */
}


/* margin: 25px 0;
padding: 10px 0;
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: stretch;
justify-content: space-between; */