*{
    box-sizing: border-box;
}

:root {
    --first-color: rgb(236, 143, 77);
    --second-color: rgb(41, 41, 195); 
    --third-color: rgb(76, 163, 218);
    --forth-color: darkblue;

}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--third-color);
    justify-content: flex-start;
}

header {
    /* removing display:flex adding in width: 100% */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    padding: 1%;
    color: aqua;
    background-color: var(--first-color);
}

header img {
    max-height: 200px;
}

/* was having a issue with the font wasn't adjusting correctly.
I had a fixed value for the height and that was messing up the adjustments. */

h1 {
    margin: 0;
}

header h1 {
    display: flex;
    color: var(--first-color);
    background-color: var(--second-color);
    width: 33%;
   /* font is fixed, adjusted percentage */
    font-size: 300%;
    align-items: center;
    flex-shrink: 1;
    padding: 1%;
    margin: 0;
}

/* want to have nav on the same entry as the header */
nav {
    /* having all the flex items removed. Using display: inline to get elements where I need them */
    display: flex;
    /* issue was not using the justify-content: space-between correctly. Nav is now centered with name (h1). */
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    color: var(--second-color);
    min-height: 50px;
}

nav ul {
    display: flex;
} 

nav a {
    color: var(--second-color);
    padding: 14px 15px;
    text-decoration: underline 2px;
    text-align: end;
    font-weight: bold;
    font-size: x-large;
}

/* added drop shadow  */
h2 {
    font-size: 5vh;
    text-shadow: 3px 3px 2px darkgoldenrod;
}

/* no further changes at this time */
.subtitle {
    font-family: cursive;
    color: rgb(230, 197, 16);
    background-color: lightgoldenrodyellow;
    font-size: 4vh;
    text-align: right;
    padding-right: 10vh;
    padding: 15vh;
    background-image: url("../images/mountain-2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about_me, .work, .contact_me {
    display: flex;
    background-color: var(--third-color);
    padding: 1%;
}

h3 {
    display: flex;
    padding: 15px 10px 15px 5px;
    width: 15%;
    min-width: 15%;
    border-right: 5px solid var(--second-color);
    align-items:center;
    font-size: xx-large;
    color: var(--forth-color);
}

.about_me p, .work p {
    padding: 10px;
    text-align: left;
    width: 80%;
    font-size: x-large;
}

/* adjusted and updated contact me so that it is on its own so that I can center and spread out the links */
.contact_me div {
    display: flex;
    padding: 10px;
    text-align: left;
    width: 80%;
    font-size: xx-large;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    
}

.contact_me a {
    color: var(--forth-color);
    text-decoration: 5px 5px solid;
    text-underline-offset: 25%;
}

/* creating a portfolio container that the other elements will go inside of */
.flex-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 80%;
    padding: 3%;
}

.flex-box {
    border: 10px solid var(--forth-color);
    background-color: var(--forth-color);
    color: var(--forth-color);
    height: 400px;
    display: flex;
    /* puts the font in the bottom left hand corner. */
    align-items: flex-end;
    font-size: large;
}

/* These are the individual elements in the .portfolio container */
.seo {
    background-image: url("../images/Screen shot 1.PNG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.seo a {
    text-decoration: none;
}

.wip-container {
    display: flex;
}
.wip {
    background-image: url("../images/wip.jpg");
    background-size: cover;
    background-position: center;
    width: 50%;
    margin: 2%;
}

.project-1 {
    background-image: url("../images/Project_1.JPG");
    background-size: cover;
    background-position: center;
    width: 50%;
    margin: 2%;
    align-items: flex-end;
    font-size: large;
    color: var(--third-color)
}
.project-2 {
    background-image: url("../images/Project_2.jpg");
    background-size: cover;
    background-position: center;
    width: 50%;
    margin: 2%;
    align-items: flex-end;
    font-size: large;
}

@media screen and (max-width: 980px){
    header {
       display: block; 
    }
    
    header h1 {
        width: 100%;
    }

    header img {
        display: none;

    }
    .flex-box {
        height: 200px;
    }
}

@media screen and (max-width: 768px) {

    h2 {
        text-align: center;
    }

    header img {
        display: none;
    }

    .flex-box {
        height: 150px;
    }

    h3 {
        font-size: x-large;
    }

    .contact_me div {
        font-size: x-large;
    }
}